body {
    background-image: url("img/bankRich.jpg");
}
p,label {
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
h1 {
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

:valid {
    border-color: green;
}

:invalid {
    border-color: red;
}
fieldset{
    border: 0;
}
.password2 {
    position: relative; right:300px; top:60px;
}